#sfondo{
    background-image: url("./img/pattern.png");
    background-color: rgb(97, 97, 234);
    background-size: contain;
}
.logo{
    width: 300px;
}
h1{
    font-size: 50px;
}
.little-title{
    color: rgb(111, 105, 105);
}
#color-name{
    color: blue;
}
.postilla{
    font-size: smaller;
    font-weight: bold;
}
main{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}    
.highlighter{
    background-color: yellow;
}

thead{
   color: white;
   background-color: rgb(7, 7, 245);
}
th{
    width: 32%;
}
.bgrow{
    background-color: aqua;
}
.tips{
    color:  rgb(43, 40, 40);
}
.monitor, .graph{
    width: 300px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
}
.monitor{
    background-image: url("./img/monitor.jpg");
}
.graph{
    background-image: url("./img/graph.jpg");
}