#sfondo{
    background-image: url("./img/pattern.png");
    background-color: rgb(97, 97, 234);
    background-size: contain;
}
.logo{
    width: 300px;
}
h1{
    font-size: 50px;
}
.little-title{
    color: rgb(111, 105, 105);
}
#color-name{
    color: blue;
}
.postilla{
    font-size: smaller;
    font-weight: bold;
}
main{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}    
#highlighter{
    background-color: yellow;
}

.intestazione{
    display: inline-block;
    width: 32%;
    background-color: rgba(37, 62, 255, 0.274);
    color: white;
}
.row{
    width: 32%;
    background-size: auto;
    background-color: aqua;
    display:inline-block;
}